.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hr {
  /* centre verticalement les enfants entre eux */
  align-items: center;

  /* active flexbox */
  display: flex;

  /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
  text-align: center;
}

.hr::before,
.hr::after {
  /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
  border-top: 0.0625em solid;

  /* nécessaire pour afficher les pseudo-éléments */
  content: "";

  /* partage le reste de la largeur disponible */
  flex: 1;

  /* espace les traits du texte */
  margin: 0 0.5em;
}
