@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
.nomCategorie {
  font-family: "Inter";
  font-size: 2vh;
}
.pdfIcon {
  color: #221e41;
}

.pdfIcon:hover {
  color: #8a6fff;
}
