.cardProjets {
  text-decoration: none;
}
.divProjets {
  transition: all 0.2s ease-in-out;
}
.divProjets:hover {
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  transform: scale(1.1);
  /* filter: grayscale(1); */
}
/* .transitionGrowth {
  transition: all .2s ease-in-out;
}
.transitionGrowth:hover{
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
/* transform: scale(1.1); */
/* filter: grayscale(1); */
/* filter: brightness(20%) */
/* }  */
/* .containerDoc {
  position: relative;
}
.descriptionDoc {
  text-align: center;
}
.containerDoc .descriptionDoc {
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
  color: white;
}
.containerDoc:hover .descriptionDoc{
  opacity: 1;
}
.containerDoc:hover
{
  filter: brightness(20%)
}
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
.containerDoc {
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}
.containerDoc:hover {
  transform: scale(1.1);
}
.containerDoc div {
  transition: all 0.2s ease-in-out;
}
.containerDoc:hover div {
  filter: brightness(30%);
}
.containerDoc figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  opacity: 0;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Roboto Mono";
}
.containerDoc:hover figcaption {
  opacity: 1;
}
